@page
@model MyStore.Pages.Clients.IndexModel
@{
}
<br />
<h2 align="center">WELCOME TO OUR  WEBSITE</h2>
<h4 align="center">Click Below To Log in to your account</h4>
<div style="text-align:center">
<a class='btn btn-primary btn-sm' href='/Clients/Create'>Log in</a> 
</div>
